.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  padding: 64px var(--viewport-padding);
  margin: 0 auto;
  border: 1px solid red;
}

.mainHeading {
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0 var(--viewport-padding);
  border: 1px solid green;
}